python-dotenv==1.0.1
PyQt6==6.6.1
iqoptionapi==1.0.3
pandas==2.2.2
numpy==1.26.4
scipy==1.12.0
stable-baselines3==2.3.0
torch==2.2.2
matplotlib==3.8.4
plotly==5.20.0
sqlalchemy==2.0.29
aiosignal==1.3.1
tqdm==4.66.4
gymnasium==0.29.1
cloudpickle==3.0.0
psutil==5.9.8
pyqtgraph==0.13.3
